@model List<OrderFoodViewModel>
@{
    ViewData["Title"] = "My Cart";
}

<script>
    const MinusQuantity = id => {
        if (document.getElementById(id).value != 1)
            document.getElementById(id).value = parseInt(document.getElementById(id).value) - 1;
    }

    const AddQuantity = id => {
        if (document.getElementById(id).value != 100)
            document.getElementById(id).value = parseInt(document.getElementById(id).value) + 1;
    }

    const AssignQuantity = id => {
        const editForm = document.getElementById('editForm-' + id);

        // Attach payload to form
        let temp = editForm.getAttribute("action");
        editForm.setAttribute("action", temp + "&qty=" + document.getElementById(id).value);

        editForm.submit()
    }
</script>

<h1>Cart [@Model.Count]</h1>

<a onclick="AssignQuantity()">Save My Choices</a>

<table class="table" style="table-layout: fixed;">
    <tr>
        <th>Food Image</th>
        <th>Food Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>

@foreach (var displayItem in Model)
{
<tr>
    <td><img src=@displayItem.FoodModel.FoodImage alt=@displayItem.FoodModel.FoodName width="180px" height="150px" /></td>
    <td>@displayItem.FoodModel.FoodName</td>
    <td>RM @string.Format("{0:0.00}", displayItem.OrderItemModel.UnitPrice)</td>
    <td>
        <form id="editForm-@displayItem.FoodModel.ID" asp-action="Edit" asp-route-foodId="@displayItem.OrderItemModel.PartitionKey" asp-route-orderId="@displayItem.OrderItemModel.RowKey" asp-route-price="@displayItem.OrderItemModel.UnitPrice">
            <span class="input-group-btn mr-2">
                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" onclick="MinusQuantity(@displayItem.FoodModel.ID)">
                    <i class="ion-ios-remove"></i>
                </button>
            </span>
            <div style="display: inline;">
                <input readonly id="@displayItem.FoodModel.ID" value="@displayItem.OrderItemModel.Quantity" style="width: 40px; text-align: center;" />
            </div>
            <span class="input-group-btn ml-2">
                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="" onclick="AddQuantity(@displayItem.FoodModel.ID)">
                    <i class="ion-ios-add"></i>
                </button>
            </span>
        </form>
    </td>
    <td class="product-remove">
        <form id="deleteForm-@displayItem.FoodModel.ID" asp-action="Delete" asp-route-foodId="@displayItem.OrderItemModel.PartitionKey" asp-route-orderId="@displayItem.OrderItemModel.RowKey"></form>
            <a onclick="AssignQuantity(@displayItem.FoodModel.ID)">Save</a>
            <a onclick="document.getElementById('deleteForm-@displayItem.FoodModel.ID').submit()"><span class="ion-ios-close"></span></a>
    </td>
</tr>
}
</table>