@model List<Order>
@{
    ViewData["Title"] = "Customer Orders";
}

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    @if (ViewBag.msg != null)
                    {
                        <h2>@ViewBag.msg</h2>
                    }
                    else
                    {
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>Order Number</th>
                                    <th>Customer Name</th>
                                    <th>Order Status</th>
                                    <th>Order Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var displayresult in Model)
                                {
                                    <tr class="text-center">
                                        <td class="image-prod">@displayresult.PartitionKey</td>
                                        <td class="product-name" style="width:300px;">@displayresult.RowKey</td>
                                        <td class="price">@displayresult.OrderStatus</td>
                                        <td class="quantity" style="width:180px;">@displayresult.Timestamp</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</section>