@model MamaFood.Models.Food

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    const MinusQuantity = () => {
        if (document.getElementById("quantity").value != 1)
            document.getElementById("quantity").value = parseInt(document.getElementById("quantity").value) - 1;
    }

    const AddQuantity = () => {
        if (document.getElementById("quantity").value != 100)
            document.getElementById("quantity").value = parseInt(document.getElementById("quantity").value) + 1;
    }

    const AssignQuantity = () => {
        let temp = document.getElementById("add-to-cart").getAttribute("href");
        document.getElementById("add-to-cart").setAttribute("href", temp + "&qty=" + document.getElementById("quantity").value);
    }
</script>

<div class="hero-wrap hero-bread" style="background-image: url('../../img/1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span class="mr-2"><a asp-action="Menu" asp-controller="Foods">Product</a></span> </p>
                <h1 class="mb-0 bread">Product Details</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a class="image-popup"><img src="@Html.DisplayFor(model => model.FoodImage)" class="img-fluid" alt="Image"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@Html.DisplayFor(model => model.FoodName)</h3>
                <p>
                    @Html.DisplayFor(model => model.FoodType)
                </p>
                <p class="price"><span>@Html.DisplayFor(model => model.Price)</span></p>
                <p>
                    Wow deliciousssss!
                </p>
                <div class="row mt-4">
                    <div class="w-100"></div>
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" onclick="MinusQuantity()">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        <input readonly type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="" onclick="AddQuantity()">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <br />
                <p><a id="add-to-cart" asp-controller="Order" asp-action="Cart" asp-route-foodId="@Model.ID" asp-route-price="@Model.Price" class="btn btn-black py-3 px-5" onclick="AssignQuantity()">Add to Cart</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
